:root {
  font-size: 16px;
  --button-primary: #fa8231;
  --button-secondary: #8854d0;
  --button-secondary2: #a55eea;
  --button-tertiary: #20bf6b;
  --gray-text-bg: #393939;
    --menu-color: #1d1d1d;
  --white-text-bg: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: var(--menu-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--button-secondary);
}

/*Parte inicial do site*/

main {
  margin-left: 5rem;
  width: math(100% - 5rem);
}

.navbar {
 width: 5rem;
 height: 100vh;
 position: fixed;

 background-color: var(--menu-color);
}

.init {
  width: math(100% - 5rem);
  height:100vh;
  padding: 1rem 1rem 1rem 3.5rem;

  background-color: var(--gray-text-bg);
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "intro terminal" "buttons terminal";
}

.text-init {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.init>div>h1{
  font-size: 8rem;
  font-family:"Arial";
  color: var(--white-text-bg);

  display: flex;

  grid-area: intro; 
}

.init>div>h4{
  font-size: 1rem;
  color:var(--white-text-bg);
  grid-area: intro;  


}

.buttons-init {
  grid-area: buttons;

  display: flex;
  align-items: center;
  justify-content: end;
}

.terminal {
  grid-area: terminal;
}

.init>div>button{
  border-radius: 10rem;
	background-color: transparent;
	width: 14rem;
  height:3.5rem;
  font-size: 2rem;

  color:var(--white-text-bg);
}


.sobre-bt{
  margin-right: 8rem;
  border: solid 0.4rem;
  border-color: var(--button-primary);
}

.projeto-bt {
  border: solid 0.4rem;
  border-color: var(--button-secondary);
}

.terminal {
  display: flex;
  flex-direction: center;
  align-items: center;
}

/* Parte sobre o labmati */

.about {
  height: 100vh;
  padding: 1rem 1rem 1rem 3.5rem;
  width: math(100% - 5rem);
}

.about>h2 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 4rem;

}

.about>h2>img {
  width: 2rem;
  height: 2rem;
  border-color: var(--button-secondary);
}

.about p {
  max-width: 70rem;
  flex-direction: center;
  align-items: center;
  margin-left: 3rem;
}


/* Parte de projetos*/

.projects {
  height: 100vh;
  padding: 1rem 1rem 1rem 3.5rem;
  width: math(100% - 5rem);
  background-color: red;
}

/*Parte de contato */

.contact {
  height: 100vh;
  padding: 1rem 1rem 1rem 3.5rem;
  width: math(100% - 5rem);
  background-color: blue;
}
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #CC3300;
    max-width: 500px;
}

.contact h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #66FFFF;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}